/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .dp{
        margin-bottom: 20px;
    }
    .allmenu{
        display: none;
    }
    .container{
        display: block;
    }
    .descriptionContainer{
        display: block;
    }
    .desccont{
        margin-top: 20px;
    }
    .catagoryContainer{
        display: block;
    }
    .catagory1{
        margin-bottom: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .dp{
        margin-bottom: 20px;
    }
    .allmenu{
        display: none;
    }
    .container{
        display: block;
    }
    .descriptionContainer{
        display: block;
    }
    .desccont{
        margin-top: 20px;
    }
    .catagoryContainer{
        display: block;
    }
    .catagory1{
        margin-bottom: 20px;
    }
    .dp{
        display: block;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .iconbar{
        display: none;
    }
    .allmenu{
        display: flex;
        /* gap:30px; */
    }
    .container{
        display: flex;
        
    }
    .descriptionContainer{
        display: flex;
    }
    .catagoryContainer{
        display: flex;
    }
}    